/* BrandMarquee.module.css */
@font-face {
  font-family: "Cormorant"; /* Provide a name for the font */
  src: url("/fonts/Cormorant-Light.ttf");
}

.marqueeContainer {
    position: relative;
    background-color: #fffbed;
  overflow: hidden;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 10px 0 10px 0;
}

.brandMarquee {
  display: flex;
  justify-content: space-evenly;
  width: max-content;
  align-items: center;
  gap: 20px;
}

.brandContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.brandText {
  font-family: "Cormorant";
  font-size: 2em;
  width: fit-content;
  text-align: center;
}
