/* BrandMarquee.module.css */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');

.marqueeContainer {
    overflow: hidden;
}

.brandMarquee {
  display: flex;
    justify-content: space-evenly;
    width:max-content;
}

.brandText {
  font-family: 'Cormorant', serif;
  font-size: 16px;
  width: 250px;
text-align: center;
}