
.heroSection {
    width: 100vw;
    height: 43vw;
    display: flex;
    justify-content: space-between;
  }

  .heroText {
    width: 54vw;
    padding: 3vw 4vw 0 8vw;
    border-right: 1.5px black solid;
  }

  .CTAwrapper {
    width: 230px;
    margin-top: 1.5vw;
  }

  .heroCTA { 
    position: relative;
    font-family: "Playfair Display";
    width: 15vw;
    font-size: 2vw; /* Increase font size to make it larger */
    padding: 1vw; /* Add padding for rectangular shape */
    border: 1px solid black; /* Add a black border */
    border-radius: 40px; /* Add rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 50;
    margin: 0;
    overflow: hidden;

  }

  .CTAHoverBackground {
    display: block;

    position: absolute;
    background-color: black;
    border-radius: 40px;
    width: 150%;
    height: 150%;
    z-index: -1;
  }

  .heroImageContainer {
    position: relative;
    height: 100%;
    width: 35vw;
    overflow: hidden;
    border-left: 1.5px black solid;
  }

.heroTitle {
  padding-top: 3vw;
  font-family: 'Tiro Gurmukhi', serif;
  color: #9a6345;
  font-weight: normal;
  font-size: 3.6vw;
  width: 100%;
  margin: 0;
}

.heroSubheader {
  font-family: "Playfair Display";
  font-weight:lighter;
  font-size: 1.2em;
  font-size: 1.4vw;
  line-height: 1.5em;
  width: 80%;
  margin: 1.5vw 0 0 0;
}

.ultimateText {
  color: #50443a;
}
