@font-face {
    font-family: 'Shamery'; /* Provide a name for the font */
    src: url('/fonts/shamery.ttf')
  }

.titleContainer {
    padding: 5% 0 0 5%;
    overflow: hidden;
}

.title {
    font-weight: lighter;
    font-family: "Shamery";
    font-size: 4.5vw;
    margin: 0;
    top: 0;
}

.highlightsSection {
    position: relative;
    background-color: #fffbed;
    height: 100vh;
    width: 100vw;
}

.horizontalLine {
    position: absolute;
    top: 11vw;
    right: 50%;
    background-color: black;
    height: 1px;
    width: 90%;
}

.highlightsContainer {
    position: relative;
    margin: 40px 0 0 0;
    padding-left: 3vw;
    display: flex;
    width: 96vw;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.highlightsContainer::-webkit-scrollbar {
    display: none;
}

.highlightCard {
    cursor: pointer;
    position: relative;
    padding: 0 70px 20px 70px;
    min-width: 270px;
    overflow: hidden;
    scroll-snap-align: center;
}

.imageContainer {
    position: relative;
    background-color: #f3f0e2;
    border-radius: 4%;
    width: 270px;
    height: 400px;

}

.highlightImage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    background-size:contain;
    background-repeat: no-repeat;

    background-position: center bottom;
    width: 240px;
    height: 300px;
}


.separator {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 1px;
    top: 0;
    right: 0;
}

.highlightName {
    height: 3.8rem;
    margin: 0;
    font-family: "Shamery";
    font-size: 1.2rem;
    margin: 20px 0 5px 10px;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height:fit-content;
    margin-left: 10px;
    padding: 5px;
    border: 1px #50443a solid;
    background-color: transparent;
    font-family: 'Gruppo', sans-serif;
    font-size: 15px;
    color: #50443a;
    overflow: hidden;
}

.button span {
    z-index: 1;
}

.buttonHoverBackground {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    height: 100px;
    border-radius: 100%;
    background-color: #50443a;
    z-index: 0;
}

