body {
    margin: 0;
    width: 100%;
}

html {
    height:100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}


a {
    color: black;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
}