@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Tiro+Gurmukhi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



@font-face {
  font-family: 'Sinistre'; /* Provide a name for the font */
  src: url('/fonts/Sinistre.otf')
}

@font-face {
  font-family: 'Playfair Display'; /* Provide a name for the font */
  src: url('/fonts/PlayfairDisplay.ttf')
}

