/* HamburgerMenu.module.css */

.hamburgerMenu {
  padding-left: 20px;
    z-index: 100;
  }
  
  .hamburgerIcon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
    cursor: pointer;
    z-index: 101;
  }
  
  .hamburgerIcon span {
  display: block;
    height: 3px;
    background-color: #9a6345;
    transition: opacity 0.2s ease, transform 0.3s ease;
    border-radius: 3px;
  }
.menuBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color:beige;
  border-right: 3px solid #000;
  animation: slideInBackground 0.3s ease forwards; 
}

.closeMenu {
    animation-direction: reverse;
}

  .menuLinks {
    position: fixed;
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  
  .menuLinks li {
    margin-bottom: 10px;
    opacity: 0;
    animation: slideIn 0.3s ease forwards;
  }

  .link {
    display: inline-block;
    font-size: 20px;
    color: #666;
    text-decoration: none;
    transition: all 0.5s ease;
  }

  .link:hover {
    color: #333;
    transform: translateX(10px);
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


@keyframes slideInBackground {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  