@font-face {
    font-family: "Cormorant"; /* Provide a name for the font */
    src: url("/fonts/Cormorant-Light.ttf");
}

.pageTitle {
    background-color: #9a6345;
    font-family: "Cormorant"; /* Provide a name for the font */
    color: #fffbed;
    text-align: center;
    margin: 0;
    padding: 4px 0 6px 0;
}

.navbar {
    height: 65px;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr; /* Left - Middle - Right */
    align-items: center; /* Vertically center the items */
    position: sticky;
    background-color: #fffbed;
    border-bottom: 3px solid #BF9778;
    top: 0;
    z-index: 900;
}

.navGroup {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 18px;
}