@font-face {
    font-family: "Cormorant"; /* Provide a name for the font */
    src: url("/fonts/Cormorant-Light.ttf");
}

.pageTitle {
    background-color: #9a6345;
    font-family: "Cormorant"; /* Provide a name for the font */
    color: #fffbed;
    text-align: center;
    margin: 0;
    padding: 4px 0 6px 0;
}

.navbar {
    position: sticky;
    background-color: #fffbed;
    border-bottom: 3px solid black;
    top: 0px;
    z-index: 999;
}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.navGroup {
    display: flex;
    align-items: center;
    gap: 18px;
}