/* Base styles */
.profileAvatar {
    z-index: 999;
    transition: transform 1s ease;
    cursor: pointer;
  }

  .backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    z-index: 100;
}

.profileMenuContainer {
  position: absolute;
  top: 100%;
  right: 0;

  height: 520px; 
  z-index: 101;
  overflow: hidden;
}
  
  .profileMenu {
    padding: 0 2vh 0 2vh; /* Use vh for responsive padding around the form */
    background-color: #D2BAA9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 3px black solid;
    border-top: 3px black solid;
    width: 480px; /* Use vh for responsive width */
    height: 500px; /* Use vh for responsive height */
    z-index: 998;
    overflow: hidden;
  }

.logout {
  display: flex;
  justify-content: center;
}