/* Base styles */
.profileAvatar {
    margin-top: 1vh;
    margin-right: 4.6vh; /* Use vh for responsive margin */
    z-index: 999;
    transition: transform 1s ease;
    cursor: pointer;
  }
  
  .profileMenu {
    position: fixed;
    top: 2vh; /* Use vh for responsive distance from the top */
    right: 5vh; /* Use vh for responsive distance from the right */
    padding: 2vh; /* Use vh for responsive padding around the form */
    padding-top: 50px;
    background-color: rgba(70, 70, 70);
    border: 1px solid #50443a;
    width: 30vw; /* Use vh for responsive width */
    height: 55vh; /* Use vh for responsive height */
    z-index: 998;
    animation: slideInBackground 1s ease forwards; 
  }
  

  

  
.open {
    transform: translateX(-16vh);
}

.logout {
  display: flex;
  justify-content: center;
}
  
  @keyframes slideInBackground {
    0% {
      opacity: 0;
      transform: translateX(16vh);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }