/* FilterOptions.module.css */
.filterOptions {
  position: fixed;
  overflow: scroll;
  height: 94vh;
  z-index: 100;
  width: 20vw;
  padding: 3vh;
  background-color: #fffbed;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 10px;
  }
  
  .sortBy {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 8px 16px;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: #007bff;
    color: white;
  }
