.singleSelectDropdown {
    position: relative;
  }
  
  .selectedOptionBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  