/* Form.module.css */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  /* background-color: #f9f9f9; */
}

.formGroup {
  width: 80%;
  margin: 10px 0 10px 0;
}

.label {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 90%;
  padding: 5%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  margin: 10px 0 10px 0;
  width: 70%;
  padding: 1vh 5% 1vh 5%;

  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: 2px rgb(26, 6, 93) solid;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  margin: 0;
  text-align: center;
  color: #f00;
}

.googleLink {
  width: 80%;
}

.googleButton {
  margin: auto;
  width: 70%;
  padding: 1vh 5% 1vh 5%;
  margin-top: 1.5vh;
  display: flex;
  justify-content: center;
  gap: 1vh;
  border: 2px black solid;
  border-radius: 4px;
  cursor: pointer;
}

.googleText {
  color: rgb(
    139,
    139,
    139
  ); /* Change link color to a desired color, here it's blue (#007bff) */
  font-size: 1.2em;
  font-family: "Roboto", sans-serif; /* Apply Roboto font and fallback to a system sans-serif font */
  transition: color 0.2s ease-out;
}

/* Optional: Add styles for link hover state */
.googleText:hover {
  color: black; /* Change link color on hover */
  /* Add any other hover styles as needed */
}
