/* Form.module.css */

@font-face {
  font-family: 'Shamery'; /* Provide a name for the font */
  src: url('/fonts/shamery.ttf')
}
@font-face {
  font-family: "Cormorant"; /* Provide a name for the font */
  src: url("/fonts/Cormorant-Light.ttf");
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 1px solid #ccc; */
  border-radius: 4px;
  /* background-color: #f9f9f9; */
}

.formGroup {
  width: 100%;
}

.title {
  margin: 40px 0 20px 0 ;
  font-weight: lighter;
  font-family: "Shamery";
  color: #50443A;
  font-size: 2em;
}

.input {
  width: 75%;
  margin: 5px 0 5px 0;
  padding:25px 25px 25px 25px;
  font-family: "Cormorant";
  font-size: 16px;
  border-radius: 50px;
  border: none;
  background-color:#fffbed;
  outline: 0 none;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #D2BAA9;
  opacity: 1; /* Firefox */
}

.button {
  margin: 5px 0 5px 0;
  width: 50%;
  background-color:#50443A;
  color: #fffbed;
  font-size: 1.5em;
  padding: 12px 5% 12px 5%;
  font-family: "Cormorant";
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.errorContainer {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #fffbed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.error {
  margin: 0;
  text-align: center;
  color: #f00;
  opacity: 1;
}

.googleLink {
  width: 80%;
}

.googleButton {
  margin: auto;
  font-size: 14px;
  padding: 12px 0 12px 15px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 1vh;
  color:#50443A;
  background-color: #fffbed;
  border: 1px #50443A solid
}