@font-face {
  font-family: "Cormorant"; /* Provide a name for the font */
  src: url("/fonts/Cormorant-Light.ttf");
}

.formContainer {
  width: 100%;
}


.error {
    position: absolute;
    color: #f00;
    bottom: 0;
    transform: translateY(3vh);
    text-align: center;
  }

    .signUp {
      width: 450px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  .newHereText {
    margin-top: 20px;
    font-family: "Cormorant";
    color: #fffbed;
    font-size: 3vh; /* Use vh for responsive font size */
  }

  
  .signUpLink {
    width: fit-content;
    font-family: "Cormorant";
    font-size: 3vh
  }

.signUpButton {
  width: 180px;
  margin: 5px 0 5px 0;
  background-color:#50443A;
  color: #fffbed;
font-size: 0.8em;
  padding: 8px 5px 8px 5px;
  font-family: "Cormorant";
  border-radius: 50px;
  border: none;
  cursor: pointer;
}