@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.signUpPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height:   90vh;
}

.signUpFormContainer {
  width: 30vw;
  padding: 20px;
  background-color: white;
  border: 1px grey solid;
}

/* Target the <a> tag and override default link styles */
