@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.signUpPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height:   90vh;
}

.signUpFormContainer {
  width: 480px;
  padding: 0 0 30px 0 ;
    background-color: #D2BAA9;
  border-radius: 40px;
}

/* Target the <a> tag and override default link styles */
